3D_U-Net/Data
3D_U-Net/Data_split
3D_U-Net/Dataset_Corrected
3D_U-Net/NFBS_Dataset
3D_U-Net/outputs/checkpoints
3D_U-Net/outputs/metrics2
3D_U-Net/outputs/modelo
3D_U-Net/outputs.zip
Preprocesamiento/modelo_3d_unet
Preprocesamiento/procesadas
Preprocesamiento/DATA SET CORRECTED.zip