3D_U-Net/Data
3D_U-Net/Data_split
3D_U-Net/Dataset_Corrected
3D_U-Net/NFBS_Dataset
3D_U-Net/outputs/checkpoints
3D_U-Net/outputs/metrics2
3D_U-Net/outputs/modelo
3D_U-Net/outputs.zip
Preprocesamiento/modelo_3d_unet
Preprocesamiento/dataset_n4_all_scores
Preprocesamiento/dataset_brain_all_scores
Preprocesamiento/DATA SET CORRECTED.zip
Preprocesamiento/data_all_scores
Preprocesamiento/data_all_scores_split
Preprocesamiento/data_no_scores
Preprocesamiento/data_no_scores_split
Procesamiento/__pycache__
Procesamiento/mednet_weights